<launch>
   <!-- Stable udev alias for the arm controller. Avoid ttyACM* swaps with tactile skin. -->
   <arg name="port" default="/dev/alicia_arm" />
   <arg name="baudrate" default="1000000" />
   <arg name="debug_mode" default="false" />
   <arg name="auto_torque_on_startup" default="false" />
   <node name="alicia_d_driver_node" pkg="alicia_d_driver" type="alicia_d_driver_node" output="screen">
   
     <!-- Serial Port Configuration -->
     <param name="port"           type="string" value="$(arg port)"/>
     <param name="baud_rate"      type="int"    value="$(arg baudrate)"/>
     <param name="baudrate"       type="int"    value="$(arg baudrate)"/>

     <!-- Driver Behavior Configuration -->
     <param name="debug_mode"     type="bool"   value="$(arg debug_mode)"/>
     <param name="auto_torque_on_startup" type="bool" value="$(arg auto_torque_on_startup)"/>
     <param name="rate_limit_sec" type="double" value="0.01"/>
      <!-- Command streaming and smoothing -->
      <param name="command_rate_hz"           type="double" value="50.0"/>
      <param name="state_poll_rate_hz"        type="double" value="10.0"/>
      <param name="temperature_poll_rate_hz"  type="double" value="1.0"/>
      <param name="self_check_poll_rate_hz"   type="double" value="0.5"/>
      <param name="mirror_commanded_state_when_feedback_stale" type="bool" value="false"/>
      <param name="log_command_flow"          type="bool"   value="true"/>
      <param name="suppress_redundant_commands" type="bool" value="true"/>
      <param name="pause_commands_when_feedback_stale" type="bool" value="true"/>
      <param name="feedback_stale_timeout_sec" type="double" value="1.0"/>
      <param name="protection_clear_stable_sec" type="double" value="30.0"/>
      <param name="max_enable_temperature_c" type="double" value="60.0"/>
      <param name="e1_confirm_consecutive_frames" type="int" value="3"/>
      <param name="temperature_over_limit_confirm_samples" type="int" value="3"/>
      <param name="command_keepalive_rate_hz" type="double" value="0.0"/>
      <param name="use_trajectory_smoothing"  type="bool"   value="false"/>
      <param name="max_joint_velocity_rad_s"  type="double" value="0.30"/>
      <param name="max_joint_accel_rad_s2"    type="double" value="1.0"/>
      <param name="joint_speed_deg_s"         type="double" value="15.0"/>
      <param name="max_gripper_velocity_rad_s" type="double" value="2.0"/>
      <param name="max_gripper_accel_rad_s2"   type="double" value="15.0"/>
      <param name="gripper_input_is_percent"  type="bool"   value="false"/>
      <param name="gripper_stroke_m"          type="double" value="0.05"/>
   </node>
</launch>
