<?xml version="1.0"?>
<launch>
    <!-- <arg name="eye_on_hand" doc="eye-on-hand instead of eye-on-base" /> -->
    <arg name="eye_on_hand" value="false" /> <!-- 确认是 Eye-on-Base -->
    <arg name="verify" default="false" />
    <arg name="namespace_prefix" default="easy_handeye" />
    <arg if="$(arg eye_on_hand)" name="namespace" value="$(arg namespace_prefix)_eye_on_hand" />
    <arg unless="$(arg eye_on_hand)" name="namespace" value="$(arg namespace_prefix)_eye_on_base" />

    <!--it is possible to override the link names saved in the yaml file in case of name clashes, for example-->
    <arg if="$(arg eye_on_hand)" name="robot_effector_frame" default="" />
    <arg unless="$(arg eye_on_hand)" name="robot_base_frame" default="base_link" />
    <arg name="tracking_base_frame" default="camera_link" />
    
    <arg name="inverse" default="false" />
    <arg name="calibration_file" default="" />
    
    <arg name="marker_size" doc="Size of the ArUco marker used, in meters" default="0.1"/>
    <arg name="marker_id" doc="The ID of the ArUco marker used" default="100"/>

    <!-- ============================================================== -->
    <!-- ==                 启动 RealSense D405                     == -->
    <!-- ============================================================== -->
    <!-- 启动 RealSense D405 相机节点 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no" value=""/>  <!-- 如果有多个相机，请指定序列号 -->
        <arg name="camera" value="camera"/> <!-- 相机名称命名空间 -->
        
        <!-- 启用D405的所有相机流 -->
        <arg name="enable_depth" value="true"/>
        <arg name="enable_color" value="true"/>
        <arg name="enable_infra1" value="true"/> <!-- 左红外相机 -->
        <arg name="enable_infra2" value="true"/> <!-- 右红外相机 -->
        
        <!-- 根据实际输出设置分辨率和帧率 -->
        <arg name="color_width" value="848"/>
        <arg name="color_height" value="480"/>
        <arg name="color_fps" value="30"/>
        <arg name="depth_width" value="848"/>
        <arg name="depth_height" value="480"/>
        <arg name="depth_fps" value="30"/>
        
        <!-- 启用点云生成 -->
        <arg name="enable_pointcloud" value="true"/>
        
        <!-- 其他设置 -->
        <arg name="initial_reset" value="true"/> <!-- 启动时重置相机 -->
        <arg name="align_depth" value="true"/> <!-- 将深度信息与彩色图像对齐 -->
    </include>

    <!--publish hand-eye calibration-->
    <group ns="$(arg namespace)">
        <param name="eye_on_hand" value="$(arg eye_on_hand)" />
        <param unless="$(arg eye_on_hand)" name="robot_base_frame" value="$(arg robot_base_frame)" />
        <param if="$(arg eye_on_hand)" name="robot_effector_frame" value="$(arg robot_effector_frame)" />
        <param name="tracking_base_frame" value="$(arg tracking_base_frame)" />
        <param name="inverse" value="$(arg inverse)" />
        <param name="calibration_file" value="$(arg calibration_file)" />
        <node name="$(anon handeye_publisher)" pkg="easy_handeye" type="publish.py" output="screen"/>
    </group>
        <!-- <include file="$(find usb_cam)/launch/usb_cam-test.launch" /> -->
            
            <!-- 
    <node pkg="tf" type="static_transform_publisher" name="camera_link_to_optical_frame_broadcaster"
        args="0.0 0.0 0.0 -1.570796 0 -1.570796 camera_link camera_rgb_optical_frame 100" /> 这个通常是固定的旋转，RPY=(0, -pi/2, -pi/2) 是常见约定 -->
    

    <!-- Conditionally launch ArUco tracker for Realsense -->
    <node name="aruco_tracker" pkg="aruco_ros" type="single">
        <remap from="/camera_info" to="/camera/color/camera_info" />
        <remap from="/image" to="/camera/color/image_raw" />
        <param name="image_is_rectified" value="true"/>
        <param name="marker_size"        value="$(arg marker_size)"/>
        <param name="marker_id"          value="$(arg marker_id)"/>
        
        <!-- ArUco 结果相对于 camera_link 发布 (使用正确的RealSense坐标系名称) -->
        <param name="reference_frame"    value="camera_link"/>
        
        <!-- RealSense D405 的彩色相机光学坐标系名称 -->
        <param name="camera_frame"       value="camera_color_optical_frame"/>
        
        <!-- 发布的标记坐标系名称 -->
        <param name="marker_frame"       value="camera_marker" />
    </node>
</launch>
